body
{
    background-color: rgb(255, 255, 255);
    font: 12pt 'Roboto', sans-serif;
    color: rgb(0, 0, 0);
    margin: 0px;
}

h1
{
    color: rgb(0,0,255);
    line-height: 80%;
    margin: 0px;
    text-decoration: none;
    font-size: 15vw;
}
h1:hover
{
    color: rgb(255,0,0);
}

h2
{
    font-size: 20pt;
}

p
{
    text-align: justify;
    font-weight: 10;
}

#chapter
{
    font: 11pt 'Open Sans', sans-serif;
    margin-top: 5vw;
    margin-bottom: 5vw;
}

#links
{
    font-size: 10vw;
}

span
{
    color: rgb(0,0,255);
    text-decoration: underline;
    display: block;
}
span:hover
{
    color: rgb(255,0,0);
}

a
{
    color: rgb(0,0,255);
    text-decoration: none;
}
a:hover
{
    color: rgb(255,0,0);
}

footer
{
    font-size: 8pt;
    margin-top: 5vw;
}


@media only screen and (min-width: 768px)
{
    h1
    {
        font-size: 4.8vw;
        margin: 0px;
        line-height: 120%;
    }
    span
    {
        display: inline;
    }
    #links
    {
        font-size: 20pt;
    }
}
